<form method="post" action="/songs">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<%= @song.title %>">
  </div>
  <div>
    <label>Artist:</label>
    <input type="text" name="author" value="<%= @song.author %>">
  </div>
  <div>
    <label>Url:</label>
    <input type="text" name="url" value="<%= @song.url %>">
  </div>
  <div>
    <input type="submit" value="submit">
  </div>
</form>